
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,300&family=Righteous&display=swap');

*{
   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  }

  html{
    scroll-behavior: smooth;
}
body{
  background-color:#DEE8CD;
}
  /*  todos os codigos similares  */
  section{
    padding: 100px 0;
  }
  section .title{
    color: #373D39;
    font-family:  'League Spartan';
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
  }
  section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #667948;
    transform: translateX(-50%);
  }
  section .title::after{
    COLOR: #373D39;
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    border-radius: 10%;
    transform: translateX(-50%);
  }

.inicio{
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:100% 100% ;
  background-image: url(../imgs/fundo-s.jpg);
  background-position: cover;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

#menu{
  position: fixed;
  width:100%;
  height:110px;

 
}
img{
  width:100px;
  height:100px;
margin-top:auto;
}

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:  'League Spartan';
    height: 12vh;
  }
  

  .nav-list {
    list-style: none;
    display: flex;
  
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-top: auto;
   
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
 
  .nav-list.active {
    transform: translateX(0);
  }
  


  a{
    font-family:  'League Spartan';
    font-size: 0.9rem;
    text-decoration:none;
    font-size: 0.9rem;
    font-weight:600;
    color:#fcfcfc;
  }
 
  a:hover{
    color:#3a3a3b;
  }




.sobre .sobre-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sobre .sobre-content .left{
  width: 45%;
}
.sobre .sobre-content .right{
  width: 55%;
}
.sobre .sobre-content .right .text{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  
}

.sobre .sobre-content .right p{
  font-family:  'Poppins';
  text-align: justify;
  color:#373D39;
}
.sobre .sobre-content .right a{
  display: inline-block;
  background: #d4987e;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #d4987e;
  transition: all 0.3s ease;
}
.sobre .sobre-content .right a:hover{
  color: #d4987e;
  background: none;
}
.sobre .sobre-content .left img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}




.comeco{
  height: 700px;
  background-position:center;
  background-repeat: no-repeat;
  background-size:100% 100% ;
  background-image: url(../imgs/luna.jpg);

}
.comeco .comeco-content{
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.comeco .comeco-content .left{
  width: 55%;
}
.comeco .comeco-content .right{
  width: 40%;
}
.comeco .comeco-content .right .text{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;

}

.comeco .comeco-content .left p{
  font-family:  'Poppins';

  color:#373D39;
}


.comeco .comeco-content .right img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius:50%;
}


.ajude{
  background-size:100% 100%;
  height: 700px;
  min-height: 500px;
  background-image:url(../imgs/fundo.jpg);
  background-repeat: no-repeat;
 
}

.ajude .title::after{
   
  content: "a nós";
}
.ajude .carousel .card{

 border-radius: 6px;
 padding: 25px 35px;
 text-align: center;
 transition: all 0.3s ease;
}
.ajude .carousel .card:hover{
  background: #efe6eb;
}
.ajude .carousel .card img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #efe6eb;
  transition: all 0.3s ease;
}
.ajude .carousel .card:hover img{
  border-color: #fff;
}
.ajude .carousel .card .box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: all 0.3s ease;
}
.ajude .carousel .card:hover .box{
transform: scale(1.05);
}
.ajude .carousel .card .text{
font-size: 25px;
font-weight: 500;
margin: 10px 0 7px 0;
}
.owl-dots{
  align-items: center;
  margin-top: 20px;
}
.owl-dot{
  width: 14px;
  height: 14px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid #adb5a0!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 15px;
}
.owl-dot.active, .owl-dot:hover{
  background:#adb5a0!important;
}



/*  sessão footer  */
footer{
background:#4C6937;
padding: 50px 50px;
color: #fff;

}

span{
  font-family:  'League Spartan';
font-size:40px;
font-weight:600;
color:white;
left: 50%;
}
footer span a:hover{
text-decoration: underline;
}

.lista_informacoes li{
  font-family:  'League Spartan';
font-size:16px;
font-weight:400;
color:white;
display: flex;
list-style: none;
letter-spacing: 3px;
margin-left: 32px;

}




/* Responsivo */
@media (max-width: 947px){
  
  .inicio .inicio-content .text-2{
      font-size: 70px;
  }
  .inicio .inicio-content .text-3{
      font-size: 35px;
  }
  .inicio .inicio-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .ajude .ajude-content .column{
      width: 50%;
  }
  .ajude .ajude-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .ajude .ajude-content .right{
      flex: 100%;
  }


  footer{
      margin-top: 15px;
  }
}
@media (max-width: 690px){
  .inicio .inicio-content .text-2{
      font-size: 60px;
  }
  .inicio .inicio-content .text-3{
      font-size: 32px;
  }
  .inicio .inicio-content a{
      font-size: 20px;
  }
 
}
@media (max-width: 500px){
    .inicio .inicio-content .text-2{
        font-size: 50px;
    }
    .inicio .inicio-content .text-3{
        font-size: 27px;
    }
}
@media (max-width: 1104px){
  .ajude .ajude-content .left img{
      width: 350px;
      height: 350px;
  }
}