@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/lazy-dog');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,300&family=Righteous&display=swap');

*{
   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none

  }

  html{
    scroll-behavior: smooth;
}


        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
         .popup label {
           display: block;
           margin-bottom: 10px;
       }

       #produto{
        background-image: url(../imgs/prod.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:100% 100% ;
        text-align: center;
 
       }
      
       #produto .produto {
        float: left;
        width: 70%;
      padding: 30px 25px 25px 25px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        color: #fffffe;
       }
#produto .produto .card{
  background-color: #ADB5A0;
   border-radius: 20%;
   padding: 25px 35px;
   text-align: center;
   transition: all 0.3s ease;
  
}
#produto .produto .card:hover{
    background: #51703E;
}
#produto .produto .card img{
    width: 250px;
    height: 700px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
#produto .produto  .card:hover img{
    border-color: #50352a
}

#produto .produto .card .text{
  font-size: 25px ;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

       

 select{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 13px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
 button{
    width: 30%;
    height:30px;
    background: #adb5a0;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
   margin-left:20%;
    font-size: 16px;
}


.compra {
  width: 100%;
display: flex;  
margin-left: 30%;
}
 #ver{
  margin-left: 150%;
}
.valor{
  width: 50%;
  height:30px;
  background: #adb5a0;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: white;
 margin-left: 70%;
 margin-top:10%;
  font-size: 16px;
}
.comprar{
  align-items: center;
  width: 50%;
  height:50px;
  background: #080808;
  margin-right: 20%;
  margin-top: 5px;
  color: white;
  font-size: 20px;
}
  /*  todos os codigos similares  */
  section{
    padding: 100px 0;
   
  }
  section .title{
    color: #fff;
    font-family:  'League Spartan';
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 10px;
    position: relative;
  }
  section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #ffffff;
    transform: translateX(-50%);
  }
  section .title::after{
    COLOR: #ffffff;
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background: #51703E;
    color: #f1e8ec;
    padding: 5px;
    border-radius: 10%;
    transform: translateX(-50%);
  }


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

#menu{

  position: fixed;
  width:100%;
  height:110px;

 
}
img{
  width:100px;
  height:100px;
margin-top:auto;
}

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:  'League Spartan';
    height: 12vh;
  }
  

  .nav-list {
    list-style: none;
    display: flex;
  
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-top: auto;
   
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
 
  .nav-list.active {
    transform: translateX(0);
  }
  
  body{
    background-color: #adb5a0;
  
  }

  a{
    font-family:  'League Spartan';
    font-size: 0.9rem;
    text-decoration:none;
    font-size: 0.9rem;
    font-weight:600;
    color:#fcfcfc;
  }
 
  a:hover{
    color:#3a3a3b;
  }

  .filtro{
    background-image: url(../imgs/fundo-s.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
 
  
  }
  .filt{
    margin-left: 60%;
  
  }
  .lupa{
    margin-right: 10%;
  }
   .but{
   margin: 20%;
   margin-left: 60%;
    position: fixed;
    width: 190px;
    min-width:126px; 
    background: #1f271400;
    padding: 100px 20px;

   
  }
.filtro-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: #efe6eb;

  }
  .popup {
    width: 300px;
    padding: 20px;
     background-color: #08080800;
    top: 1100px;
    left: 83%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.popup  iframe {
  border: none;
  }
  
  #inicio{
    background-image: url('../imgs/animais.gif');
    background-position: cover;
    background-repeat: no-repeat;
    background-size:98% 100%;
    text-align: center;
    height: 700px;
  
  }

  #sobre .sobre-content{
    padding: 45px 85px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fffffe;
  }
  .text
{
  color: #ffffff;
}
  /*  sessão sobre  */
.text1 {
      font-size: 40px;
      font-family: 'Lazy Dog';
      color: #ffffff;
  }
  #sobre .sobre-content .card{
    background-color: #ADB5A0;
   border-radius: 20%;
   padding: 25px 35px;
   text-align: center;
   transition: all 0.3s ease;
  }


  #sobre .sobre-content .card:hover{
    background: #51703E;
  }
  #sobre .sobre-content .card img{
      width: 250px;
      height: 300px;
      border-radius: 50px;
        border: 5px solid #4a5327;
      transition: all 0.3s ease;
  }
 
  

  

  .carrinho .carrinho-content{
    background-color: #909687;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border: 2px solid #555c4ce0;
  
  
 }

 .carrinho .carrinho-content .finalizar{
  color: #fff;
  width:457px;
  height: 400px;
  position: fixed;
  margin-left: 680px;
  text-align: center;
 

 }

 section .finalizar .title {
  color: #fff;
  font-family:  'League Spartan';
  text-align: center;
  font-size: 30px;
  font-weight: 500;
 
  position: relative;
}
  .carrinho .carrinho-content .car{
    padding: 40px 60px;
    width: 60%;
    height: 300px;
    display: flex;
    background-color:#90968700;
    border-right: 2px solid #555c4ce0;
    border-bottom: 2px solid #555c4ce0;
  }
  .carrinho .carrinho-content .car .text{
text-align: justify;
margin-top: 5%;
margin-left: 20px;

  }
  .carrinho .carrinho-content .car img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
  }
.produto .carousel .card{
  background: #826990;
   border-radius: 6px;
   padding: 20px 20px;
   text-align: center;
   transition: all 0.3s ease;
}
.produto .carousel .card:hover{
    background: #efe6eb;
}
.produto .carousel .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
    border: 5px solid #efe6eb;
    transition: all 0.3s ease;
}
.produto .carousel .card:hover img{
    border-color: #fff;
}
.produto .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.produto .carousel .card:hover .box{
  transform: scale(1.05);
}

.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  width: 14px;
  height: 14px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid #adb5a0!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 15px;
}
.owl-dot.active,
.owl-dot:hover{
  background:#adb5a0!important;
}


