@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,300&family=Righteous&display=swap');

*{
   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none

  }

  html{
    scroll-behavior: smooth;
}

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
         .popup label {
           display: block;
           margin-bottom: 10px;
       }

       #produto .produto {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
       }
#produto .produto .card{

   border-radius: 6px;
   padding: 25px 35px;
   text-align: center;
   transition: all 0.3s ease;
  
}
#produto .produto .card:hover{
    background: #2a563eca;
}
#produto .produto .card img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
      border: 5px solid #efe6eb;
    transition: all 0.3s ease;
}
#produto .produto  .card:hover img{
    border-color: #2a503bca
}

#produto .produto .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

       

 select{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 13px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
 button{
    width: 30%;
    height:30px;
    background: #adb5a0;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
   margin-left:20%;
    font-size: 16px;
}


.compra {
  width: 100%;
display: flex;  
margin-left: 30%;
}
 #ver{
  margin-left: 150%;
}
.valor{
  width: 50%;
  height:30px;
  background: #adb5a0;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: white;
 margin-left: 70%;
 margin-top:10%;
  font-size: 16px;
}
.comprar{
  align-items: center;
  width: 50%;
  height:50px;
  background: #080808;
  margin-right: 20%;
  margin-top: 5px;
  color: white;
  font-size: 20px;
}
  /*  todos os codigos similares  */
  section{
    padding: 100px 0;
   
  }
  section .title{
    color: #fff;
    font-family: 'poppins';
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
  }
  section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #ffffff;
    transform: translateX(-50%);
  }
  section .title::after{
    COLOR: #ffffff;
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background:  #d4987e;
    color: #f1e8ec;
    padding: 5px;
    border-radius: 10%;
    transform: translateX(-50%);
  }


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

#menu{

  position: fixed;
  width:100%;
  height:110px;

 
}
img{
  width:100px;
  height:100px;
margin-top:auto;
}

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
    height: 12vh;
  }
  

  .nav-list {
    list-style: none;
    display: flex;
  
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-top: auto;
   
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
 
  .nav-list.active {
    transform: translateX(0);
  }
  


  a{
    font-family: 'Poppins';
    font-size: 0.9rem;
    text-decoration:none;
    font-size: 0.9rem;
    font-weight:600;
    color:#fcfcfc;
  }
 
  a:hover{
    color:#3a3a3b;
  }

  .filtro{
    background-image: url(../imgs/fundo-s.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    min-height: 500px;
    border-bottom:  5px solid ;
  }
  .filt{
    margin-left: 5%;
  
  }
  .lupa{
    margin-right: 10%;
  }
  .but{
 
    margin-left: 66%;
    position: fixed;
    width: 190px;
    min-width:126px; 
    background: #4c583800;
    padding: 100px 20px;
    margin-top:50%;
   
  }
  .filtro .filtro-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: #efe6eb;

  }
  .popup {
    width: 300px;
    padding: 20px;
    background-color: #ffffff7a;
    border: 1px solid #ccc;
    position: absolute;
    top: 32%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.popup  iframe {
  border: none;
  }
  

  .sobre .sobre-content{
     text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  /*  sessão sobre  */
  .title{
      text-align: center;
      color: #f1e8ec;
  }
  .sobre .sobre-content .left{
    width: 30%;
  }

  .sobre .sobre-content .left img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
  }

  .carrinho .carrinho-content{
    background-color: #909687;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border: 2px solid #555c4ce0;
  
  
 }
 .carrinho .carrinho-content .finalizar{
  color: #fff;
  width:457px;
  height: 400px;
  position: fixed;
  margin-left: 680px;
  text-align: center;
  border-bottom: 2px solid #555c4ce0;

 }

 section .finalizar .title {
  color: #fff;
  font-family: 'poppins';
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}
  .carrinho .carrinho-content .car{
    padding: 40px 60px;
    width: 60%;
    height: 300px;
    display: flex;
    background-color:#90968700;
    border-right: 2px solid #555c4ce0;
    border-bottom: 2px solid #555c4ce0;
  }
  .carrinho .carrinho-content .car .text{
text-align: justify;
margin-top: 5%;
margin-left: 20px;

  }
  .carrinho .carrinho-content .car img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
  }
.produto .carousel .card{
  background: 826990;
   border-radius: 6px;
   padding: 20px 20px;
   text-align: center;
   transition: all 0.3s ease;
}
.produto .carousel .card:hover{
    background: #efe6eb;
}
.produto .carousel .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
    border: 5px solid #efe6eb;
    transition: all 0.3s ease;
}
.produto .carousel .card:hover img{
    border-color: #fff;
}
.produto .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.produto .carousel .card:hover .box{
  transform: scale(1.05);
}

.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  width: 14px;
  height: 14px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid #adb5a0!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 15px;
}
.owl-dot.active,
.owl-dot:hover{
  background:#adb5a0!important;
}


